.projects h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.projects p {
  font-weight: 400;
  color: #919294;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.project-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #1c1c1c;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(64, 64, 64);
}
.project-cards img {
  width: 100%;
  border-radius: 4px;
}
.project-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.project-details h1 {
  font-size: 1.75rem;
  font-weight: 500;
}
.project-details p {
  line-height: 1.5;
  color: #919294;
  font-weight: 400;
}
.project-details span {
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(64, 64, 64);
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(38, 38, 38);
  font-weight: 300;
}
.techstack-flex {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.project-cta-flex {
  display: flex;
  gap: 0.5rem;
}
#project-cta-github {
  background-color: #ffffff;
  color: #171717;
  font-weight: 500;
  border: none;
  border: 1px solid rgb(64, 64, 64);
}
#project-cta-deployment {
  background-color: #171717;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid rgb(64, 64, 64);
}
span:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: ease-in-out;
}
@media (max-width: 760px) {
  .projects h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .projects p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .project-details {
    gap: 1rem;
  }
  .project-details span {
    padding: 4px 8px;
  }
}
@media (max-width: 1000px) {
  .project-cards {
    flex-direction: column;
    gap: 1rem;
  }
  .project-details h1 {
    font-size: 1.5rem;
  }
}
